.empleados-wrapper {
  padding: 20px;
}

.actions {
  margin-bottom: 75px;
}

.actions p-button {
  margin-right: 10px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  margin-left: auto;
}


/*Estilos para componentes de PrimeNG*/
:host ::ng-deep .p-toast {
  margin: 78px 0;
}
