.empleados-wrapper {
    padding: 20px;
  }
  
  .actions {
    margin-bottom: 20px;
  }
  
  .actions p-button {
    margin-right: 10px;
  }
  
  .search-box {
    float: right;
    margin-bottom: 10px;
  }
  
  /* Añade más estilos según sea necesario */